html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow: none;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
}

#header {
  font-family: fantasy, "Comic Sans MS";
  width: max(90%, 1200px);
}

.header-container {
  background-color: #2c3e50;
  color: #fff;
  padding: 20px 40px;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
}
