html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow: none;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
}

#header {
  /* font-family: fantasy, "Comic Sans MS"; */
}

.header-container {
  margin: 0 auto;
  background-color: #2c3e50;
  width: max(90%, 1200px);
  color: #fff;
  padding: 20px 40px;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
}

#main .container {
  width: max(90%, 1000px);
  margin: 40px auto;
  display: flex;
}

#main .container .left,
#main .container .right {
  display: grid;
  flex-direction: column;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.form-div,
.live-info,
.img-div,
.results-div {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.card-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

label {
  font-size: 1.5rem;
  counter-reset: #555;
  margin-bottom: 8px;
}
